* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.s__typeMovie {
  text-align: center;
  margin-bottom: 20px;
}
.s__typeMovie p {
  color: #e2d703;
}
.s__typeMovie h3 {
  font-size: 2rem;
}
@media (max-width: 991px) {
  .s__typeMovie h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .s__typeMovie h3 {
    font-size: 1rem;
  }
}

.s__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .s__date {
    display: block;
  }
}
.s__date .s__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2d703;
}
.s__date .s__rate p {
  margin-left: 5px;
}

header {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  transition: 0.5s;
  z-index: 2;
}
header.active {
  background-color: #111d1d;
}
header .s__logo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .s__logo img {
  width: 150px;
}
@media (max-width: 991px) {
  header .s__logo img {
    width: 100px;
  }
}
header .s__logo .s__name {
  font-size: 1.5rem;
}
@media (max-width: 991px) {
  header .s__logo .s__name {
    font-size: 1.2rem;
  }
}
header .s-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .s-nav .s__listmenu {
    display: none;
    position: absolute;
    right: 0px;
    top: 70px;
    transition: 0.5s;
  }
}
header .s-nav .s__listmenu.active {
  display: block;
}
header .s-nav .s__listmenu li {
  display: inline-block;
  margin: 0 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
@media (max-width: 991px) {
  header .s-nav .s__listmenu li {
    margin: 0 5px;
  }
}
@media (max-width: 767px) {
  header .s-nav .s__listmenu li {
    display: block;
    padding: 15px 20px;
    margin: 5px 0;
    background-color: #111d1d;
  }
}
header .s-nav .s__listmenu li .s__submenu ul {
  position: absolute;
  width: 200px;
  top: 50px;
  color: #fff;
  font-size: 10px;
  font-weight: 800;
  background-color: #111d1d;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  opacity: 0;
  padding-top: 10px;
  visibility: hidden;
  transition: 0.5s;
  height: 200px;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  header .s-nav .s__listmenu li .s__submenu ul {
    right: 100%;
    top: 0px;
    padding-top: 0px;
  }
}
header .s-nav .s__listmenu li .s__submenu ul li {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
}
header .s-nav .s__listmenu li:hover .s__submenu ul {
  opacity: 1;
  visibility: visible;
  top: 45px;
}
header .s-nav .s__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .s-nav .s__search input {
  width: 100%;
  padding: 5px 20px;
  background-color: #111d1d;
  border: 2px solid #e2d703;
  border-radius: 20px;
  color: #fff;
}
header .s-nav .s__search .s__icon i {
  position: absolute;
  right: 30px;
  top: 8px;
  cursor: pointer;
}
header .s-nav .hiddenMenu {
  color: #e2d703;
  font-size: 1rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .s-nav .hiddenMenu {
    display: block;
    margin-left: 10px;
  }
}

.s-banner {
  background: url(../assets/background.jpeg) center no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 200px;
}
@media (max-width: 991px) {
  .s-banner {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .s-banner {
    height: unset;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
.s-banner .s__name {
  color: #e2d703;
  font-size: 1.3rem;
  font-weight: bold;
}
@media (max-width: 575px) {
  .s-banner .s__name {
    margin-bottom: 5px;
  }
}
.s-banner .s__tittle {
  margin: 30px 0;
  width: 35%;
  font-size: 3rem;
}
.s-banner .s__tittle span {
  color: #e2d703;
}
@media (max-width: 992px) {
  .s-banner .s__tittle {
    width: 100%;
    margin: 10px 0;
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .s-banner .s__tittle {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
.s-banner .s__hook {
  display: flex;
  color: #fff;
  display: inline-block;
  margin-top: 40px;
  border: 2px solid #e2d703;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 575px) {
  .s-banner .s__hook {
    margin-top: 20px;
  }
}

.s-gallery {
  background: url(../assets/nowplaying-bg.png) center no-repeat;
  background-size: cover;
  padding: 10px 0;
}
.s-gallery .s__listMovie {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.s-gallery .s__listMovie.scroll {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.s-gallery .s__listMovie.scroll::-webkit-scrollbar {
  height: 8px;
}
.s-gallery .s__listMovie.scroll::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--primary-color);
  border-radius: 10px;
}
.s-gallery .s__listMovie.scroll::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 #000, inset 0 -1px 0 #000;
}
.s-gallery .s__listMovie.scroll .s__item {
  min-width: 20%;
}
@media (max-width: 575px) {
  .s-gallery .s__listMovie.scroll .s__item {
    min-width: 30%;
  }
}
.s-gallery .s__listMovie .s__item {
  width: calc(20% - 20px);
}
@media (max-width: 575px) {
  .s-gallery .s__listMovie .s__item {
    width: calc(33% - 20px);
  }
}
.s-gallery .s__listMovie .s__item .s__thump {
  position: relative;
  transition: 0.5s;
}
.s-gallery .s__listMovie .s__item .s__thump img {
  border-radius: 10px;
}
.s-gallery .s__listMovie .s__item .s__thump::before {
  content: "";
  position: absolute;
  height: 99%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  border-radius: 10px;
}
.s-gallery .s__listMovie .s__item .s__thump:hover::before {
  opacity: 1;
  visibility: visible;
}
.s-gallery .s__listMovie .s__item h2 {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .s-gallery .s__listMovie .s__item h2 {
    font-size: 0.8rem;
  }
}

#s-bgupcoming {
  background: url(../assets/upcoming-bg.jpeg) center no-repeat;
  background-size: cover;
}

#s-bgupcoming {
  background: url(../assets/top-rated-bg.jpeg) center no-repeat;
  background-size: cover;
}

#s-bgWorld {
  background: url(../assets/top-rated-bg.jpeg) center no-repeat;
  background-size: cover;
}

footer .s-footerBox {
  background: url(../assets/backgroundfooter.jpeg) center no-repeat;
  background-size: cover;
  padding: 35px 0;
}
footer .s-footerBox .s__textBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .s-footerBox .s__textBox {
    display: block;
    text-align: center;
  }
}
footer .s-footerBox .s__textBox .s__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  footer .s-footerBox .s__textBox .s__right {
    width: 100%;
    margin-top: 10px;
  }
}
footer .s-footerBox .s__textBox .s__right input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: none;
  outline: none;
  padding: 12px;
}
footer .s-footerBox .s__textBox .s__right button {
  background-color: black;
  color: #e2d703;
  padding: 8px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  border: none;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
footer .s-footerlast {
  background: url(../assets/upcoming-bg.jpeg) center no-repeat;
  background-size: cover;
  padding: 35px 0;
}
footer .s-footerlast .s__top {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .s-footerlast .s__top {
    display: block;
    margin-bottom: 10px;
  }
}
footer .s-footerlast .s__top .s__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .s-footerlast .s__top .s__logo {
    display: block;
  }
}
footer .s-footerlast .s__top .s__logo img {
  width: 60px;
  margin: 0 auto;
}
footer .s-footerlast .s__top .s__logo .s__name {
  font-weight: 500;
}
footer .s-footerlast .s__top .s__list .s__listmenu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .s-footerlast .s__top .s__list .s__listmenu ul li {
  margin-left: 30px;
}
@media (max-width: 767px) {
  footer .s-footerlast .s__top .s__list {
    display: none;
  }
}
footer .s-footerlast .s-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .s-footerlast .s-bottom .s__listIcon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .s-footerlast .s-bottom .s__listIcon ul li {
  margin-left: 30px;
}
footer .s-footerlast .s-bottom span {
  color: #e2d703;
}

.s-bannerMovie {
  background: url(../assets/upcoming-bg.jpeg) center no-repeat !important;
  padding: 100px 0;
}
.s-bannerMovie .s__name {
  color: #e2d703;
  font-size: 1.3rem;
  font-weight: bold;
}
.s-bannerMovie .s__tittle {
  font-size: 3rem;
}
.s-bannerMovie .s__tittle span {
  color: #e2d703;
}

.s__btnShow {
  padding: 40px 0;
}
.s__btnShow .showMore {
  color: #fff;
  border: 2px solid #e2d703;
  background-color: #e2d703;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}
.s__btnShow .showMore i {
  margin-right: 5px;
}

#s-people {
  text-align: center;
}
#s-people .s__rate {
  display: flex;
  justify-content: center;
  align-items: center;
}
#s-people .s__rate i {
  color: #e2d703;
  margin-right: 5px;
}

#s-detailMovie {
  background-image: linear-gradient(to top, rgba(17, 29, 29, 0.93), rgba(17, 29, 29, 0.93)), url(https://image.tmdb.org/t/p/w500//yF1eOkaYvwiORauRCPWznV9xVvi.jpg);
  background-size: 100%;
  padding-top: 100px;
  background-size: cover;
}
#s-detailMovie .s-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  #s-detailMovie .s-wrapper {
    display: block;
  }
}
#s-detailMovie .s-wrapper .s__thump {
  width: 30%;
  margin-right: 30px;
}
@media (max-width: 767px) {
  #s-detailMovie .s-wrapper .s__thump {
    width: 100%;
  }
}
@media (max-width: 575px) {
  #s-detailMovie .s-wrapper .s__thump {
    width: 300px;
    margin: 0 auto;
  }
}
#s-detailMovie .s-wrapper .s__inforFilm {
  width: 70% !important;
  margin: 0 auto;
}
#s-detailMovie .s-wrapper .s__inforFilm h3 {
  margin-bottom: 10px;
}
#s-detailMovie .s-wrapper .s__inforFilm p {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  #s-detailMovie .s-wrapper .s__inforFilm {
    margin-top: 10px;
  }
}
#s-detailMovie .s-wrapper .s__inforFilm .s__rate {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  #s-detailMovie .s-wrapper .s__inforFilm .s__rate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#s-detailMovie .s-wrapper .s__inforFilm .s__rate p {
  margin-right: 10px;
}
#s-detailMovie .s-wrapper .s__inforFilm .s__rate .s__round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #e2d703;
  border-radius: 50%;
}
#s-detailMovie .s-wrapper .s__inforFilm .s__rate .btn_popup {
  padding: 5px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

.s-popupVideo {
  visibility: hidden;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5607843137);
  z-index: 9999;
}
.s-popupVideo .s__video {
  width: 800px;
  height: 500px;
}
@media (max-width: 767px) {
  .s-popupVideo .s__video {
    width: 350px;
    height: 200px;
  }
}
.s-popupVideo .s__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  background-color: #fff;
}
.s-popupVideo .s__inner .s__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2d703;
  background-color: #111d1d;
  border: 1px solid #111d1d;
  padding: 8px 10px;
}
.s-popupVideo .s__inner .s__text .loseTrailer {
  font-size: 18px;
  cursor: pointer;
}
.s-popupVideo.active {
  visibility: visible;
}
.s-popupVideo.active .s__inner {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s;
}

#s-listReview {
  background-color: #000;
}
#s-listReview .s__wrapperReviewer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
#s-listReview .s__wrapperReviewer .s__itemReviewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.0392156863);
  border-radius: 10px;
}
#s-listReview .s__wrapperReviewer .s__itemReviewer p {
  margin: 10px 0;
}
#s-listReview .s__wrapperReviewer .s__itemReviewer img {
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
}
#s-listReview .s__wrapperReviewer .s__itemReviewer span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#s-listReview .s__wrapperReviewer .s__itemReviewer span.active {
  -webkit-line-clamp: unset;
  overflow: unset;
}

#s-bgActor {
  background: url(../assets/tv-series-bg.jpeg) center no-repeat;
  padding: 130px 0;
  height: 0;
}
#s-bgActor .s__tittle {
  margin: 0;
}

.s-banner .content {
  text-align: left;
}

.s__peopleDetail {
  background-color: #000;
  padding: 30px 0;
}
.s__peopleDetail #s-wrapper {
  display: flex;
}
@media (max-width: 575px) {
  .s__peopleDetail #s-wrapper {
    display: block;
  }
}
.s__peopleDetail #s-wrapper .s__left {
  width: 30%;
  margin-right: 50px;
}
@media (max-width: 575px) {
  .s__peopleDetail #s-wrapper .s__left {
    width: 300px;
    margin: 0 auto;
  }
}
.s__peopleDetail #s-wrapper .s__left .s__thumb {
  position: relative;
  cursor: pointer;
}
.s__peopleDetail #s-wrapper .s__left .s__thumb img {
  width: 100%;
  border-radius: 10px;
}
.s__peopleDetail #s-wrapper .s__left .s__thumb .s__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2549019608);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.s__peopleDetail #s-wrapper .s__left .s__thumb .s__shadow:hover {
  overflow: visible;
  opacity: 1;
}
.s__peopleDetail #s-wrapper .s__left .s__thumb .s__shadow .s__item {
  margin-bottom: 20px;
}
.s__peopleDetail #s-wrapper .s__right {
  font-size: 1rem;
  width: 70%;
}
@media (max-width: 575px) {
  .s__peopleDetail #s-wrapper .s__right {
    width: 100%;
    margin: 0 auto;
  }
}
.s__peopleDetail #s-wrapper .s__right .sub {
  margin: 20px 0;
  font-size: 0.9rem;
  opacity: 0.8;
}
.s__peopleDetail #s-wrapper .s__right .content {
  margin-bottom: 10px;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper {
  display: flex;
  gap: 20px;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper.scroll {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper.scroll::-webkit-scrollbar {
  height: 8px;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper.scroll::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--primary-color);
  border-radius: 10px;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper.scroll::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 #000, inset 0 -1px 0 #000;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper.scroll .s__item {
  min-width: 20%;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper .s__card {
  min-width: 25%;
}
.s__peopleDetail #s-wrapper .s__right .s__wrapper .s__card img {
  border-radius: 10px;
}
@media (max-width: 575px) {
  .s__peopleDetail #s-wrapper .s__right .s__wrapper .s__card h3 {
    font-size: 13px;
  }
}